Este Documento, se trata de um projeto de Analise de Dados SQL, pelo curso Profissão Analista de Dados, pela EBAC. Contém a Etapa de Exploração de dados, a Analise de Dados e Conclusões, retirada através das analises das respostas das Query.

# Módulo | SQL: Projeto

# 1. Exploração de dados

A primeira fase da análise é entender o que tem na nossa matéria prima. Vamos a exploração de dados:

- Qual a quantidade de informações temos na nossa base de dados?

**Query**: SELECT count(*) FROM credito  

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/quantidade%20de%20coluna%20na%20tabela%20credito.jpg?raw=true)

Reposta: 2564 linhas


Obs.: A base de dados do link acima contém mais linhas do que a seleção utilizada.  Considerando apenas uma fração dos dados. Por conta de redução de custos computacionais e financeiros no AWS Athena. Na prática, quanto maior a quantidade de dados utilizada, mais confiável a análise.

- **Como são os dados** ?


**Query**: SELECT * FROM credito LIMIT 10;

Dez primeiras linhas do dataset
![Select](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/query1.jpg?raw=true)

É possível visualizar que existem algumas informações nulas na tabela 'na', vamos olhar mais de perto para os valores de cada coluna!

- **Quais os tipos de cada coluna ?**

**Query**: DESCRIBE credito

Descrição dos tipos de dados

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/DESCRIBE%20credito.jpg?raw=true)  


- **Quais são os tipos de estado_civil disponíveis no dataset?**  

**Query**:  
SELECT DISTINCT estado_civil FROM credito  

**Resposta:**  
![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/Quais%20s%C3%A3o%20os%20tipos%20de%20estado_civil%20dispon%C3%ADveis%20no%20dataset.jpg?raw=true)  



- Agora vamos contar a quantidade de valores Nulos 'na', nas colunas do tipo String

**Query**:   
SELECT   
  COUNT(CASE WHEN sexo = 'na' THEN 1 END) AS count_sexo,    
  COUNT(CASE WHEN escolaridade = 'na' THEN 1 END) AS count_escolaridade,  
  COUNT(CASE WHEN estado_civil = 'na' THEN 1 END) AS count_estado_civil,  
  COUNT(CASE WHEN salario_anual = 'na' THEN 1 END) AS count_salario_anual,  
  COUNT(CASE WHEN tipo_cartao = 'na' THEN 1 END) AS count_tipo_cartao  
FROM credito  
WHERE sexo = 'na'  
   OR escolaridade = 'na'  
   OR estado_civil = 'na'  
   OR salario_anual = 'na'  
   OR tipo_cartao = 'na';  

Resposta:

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/quantidade%20de%20valor%20nulo_%20coluna%20tipo%20String.jpg?raw=true)

Podemos verificar que a Coluna sexo não tem valores 'na', a coluna escolaridade possui 346 valores 'na', a coluna estado_civil possui 116 valores 'na', a coluna salario_anual possui 235 valores 'na' e por fim a coluna tipo_cartao não possui nenhum valor 'na'.

Agora vamos verificar os Valores 'na' Nulos, nas colunas do tipo int e float.

**Query**:  
SELECT  
    COUNT(CASE WHEN idade IS NULL THEN 1 END) AS count_idade,  
    COUNT(CASE WHEN salario_anual IS NULL THEN 1 END) AS count_salario_anual,  
    COUNT(CASE WHEN qtd_produtos IS NULL THEN 1 END) AS count_qtd_produtos,  
    COUNT(CASE WHEN iteracoes_12m IS NULL THEN 1 END) AS count_iteracoes_12m,  
    COUNT(CASE WHEN meses_inativo_12m IS NULL THEN 1 END) AS count_meses_inativo_12m,  
    COUNT(CASE WHEN limite_credito IS NULL THEN 1 END) AS count_limite_credito,  
    COUNT(CASE WHEN valor_transacoes_12m IS NULL THEN 1 END) AS count_valor_transacoes_12m,  
    COUNT(CASE WHEN qtd_transacoes_12m IS NULL THEN 1 END) AS count_qtd_transacoes_12m  
FROM credito;  

Resposta:

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/query_consultar_na_int_float.jpg?raw=true)

Agora podemos validar que não existem valores Nulos nas colunas do tipo Int e Float.  










**Quais são os tipos de salario_anual disponíveis no dataset?**

Query: SELECT DISTINCT salario_anual FROM credito  

Tipos de salario anual  

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/salario%20anual.jpg?raw=true)  

Os salários nesse dataset não estão expostas com o valor exato que o cliente ganha. O que está informado é a faixa salarial de cada um. Também contem dados nulos.

Quais são os tipos de cartão disponíveis no dataset?

Query: SELECT DISTINCT tipo_cartao FROM credito

Tipos de cartão  

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/tipo%20de%20cartao.jpg?raw=true)  

Aqui vemos que não há necessidade de tratar valores nulos.

#1.2. Analise dos Dados da Tabela credito

- Limite de Crédito Médio por Tipo de Cartão:  

**Query**:  
SELECT tipo_cartao, AVG(limite_credito) AS media_limite_credito  
FROM credito  
GROUP BY tipo_cartao;  

**Resultado**:  
![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/Limite%20de%20Cr%C3%A9dito%20M%C3%A9dio%20por%20Tipo%20de%20Cart%C3%A3o.jpg?raw=true)

- Número médio de dependentes por tipo de cartão  

**Query**:  
SELECT tipo_cartao, AVG(dependentes) AS media_dependentes  
FROM credito  
GROUP BY tipo_cartao;  

**Resultado**:  

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/N%C3%BAmero%20m%C3%A9dio%20de%20dependentes%20por%20tipo%20de%20cart%C3%A3o.jpg?raw=true)

- Vamos somas as quantidades de compras de produtos por Sexo.  

**Query**:  
SELECT sexo, sum(qtd_produtos) AS soma_compras  
FROM credito  
WHERE sexo != 'na'  
GROUP BY sexo;  

Resposta:  
![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/somas%20de%20produto%20por%20sexo.jpg?raw=true)  

% por Sexo

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/porcetagem%20de%20compras%20por%20sexo.jpg?raw=true)

- Quais são os tipos de escolaridade disponíveis no dataset e sua quantidade ?  

**Query**:  
SELECT escolaridade, COUNT(*) AS quantidade  
FROM credito  
GROUP BY escolaridade;  

**Resposta**:
![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/Quais%20s%C3%A3o%20os%20tipos%20de%20escolaridade%20dispon%C3%ADveis%20no%20dataset%20e%20sua%20quantidade.jpg?raw=true)  

** % por nivel de escolaridade**   

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/porcetagem%20Quais%20s%C3%A3o%20os%20tipos%20de%20escolaridade%20dispon%C3%ADveis%20no%20dataset%20e%20sua%20quantidade.jpg?raw=true)

- **Quantidade de Cliente por estado civil, exceto os 'na':**  

**Query:**  
SELECT estado_civil, COUNT(*) AS quantidade  
FROM credito  
WHERE estado_civil != 'na'  
GROUP BY estado_civil;  

Resposta:  
![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/Quantidade%20de%20Cliente%20po%20estado%20civil,%20exceto%20os%20'na'.jpg?raw=true)  

% por estado civil

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/porcetagem%20Quantidade%20de%20Cliente%20po%20estado%20civil,%20exceto%20os%20'na'.jpg?raw=true)

- Quantidade de compras por estado civil  exceto os valores 'na'  

**Query**:
SELECT estado_civil, SUM(qtd_transacoes_12m) AS total_compras  
FROM credito  
WHERE estado_civil != 'na'  
GROUP BY estado_civil;  

Resposta:  
![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/Quantidade%20de%20compras%20por%20estado%20civil%20%20exceto%20os%20valores%20'na'.jpg?raw=true)  

% Quantidade de compras por estado civil

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/porcetagem%20Quantidade%20de%20Cliente%20po%20estado%20civil,%20exceto%20os%20'na'.jpg?raw=true)

- Valor Total de compras nos ultimos 12 meses, por estado civil, exceto valores 'na'  

**Query**:  
SELECT estado_civil, sexo, SUM(valor_transacoes_12m) AS total_gasto  
FROM credito  
WHERE estado_civil != 'na'  
GROUP BY estado_civil, sexo;  

Resposta:

![](https://github.com/Genesio-Moreira87/projeto_sql_credito/blob/main/images/Valor%20Total%20de%20compras%20nos%20ultimos%2012%20meses,%20por%20estado%20civil,%20exceto%20valores%20'na'%20%20.jpg?raw=true)

# 2. Conclusão

- Neste dataset (credito), as maiores partes das compras, foram feitos pelo sexo Masculino. Quebrando aquele dito que a mulher compra mais que os Homens.  
- Limites médio por tipo de cartão: O menor é o blue e o Maior é o platinum.  
- Que a Média de Dependentes, é maior para o tipo de cartão: platinum e gold.
- A maior parte do clientes que utilizam o cartão de credito possuem o nível escolar: mestrado e ensino médio.
- A grande maioria dos utilizadores do credito são casados.  
- A Grande parte das compras são feitas por clientes casados  
- Os maiores valores gastos nol ultimos 12 meses, foi feita por homens casados.

# **3. Links úteis**

* Kaggle: https://www.kaggle.com/genesiomoreira
* Portfólio projeto: https://www.kaggle.com/marianeneiva/credit-eda-and-analysis
* Linkedlin: https://www.linkedin.com/in/genesio-coutinho-554733124/
* GitHub: https://github.com/Genesio-Moreira87/projeto_sql_credito.git
* Dados originais - gitHub André Perez: https://github.com/andre-marcos-perez/ebac-course-utils
* Imagens do gitHub - Mariane Neiva: https://github.com/marianeneiva/sqlEBAC
* AWS Athena: https://aws.amazon.com/pt/athena/?whats-new-cards.sort-by=item.additionalFields.postDateTime&whats-new-cards.sort-order=desc